
<nav class="navbar navbar-expand-lg" style="background-color:#ffffff44">
<div class="container mx-auto">
  <a class="navbar-brand" href="/dashboard" style="font-family: 'Lobster', cursive;">Instalone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 mx-auto">
      <input class="form-control mr-sm-2 input-group input-group-sm" type="search" placeholder="Search for Profiles" aria-label="Search" style="height:34px"> 
      <button class="btn btn-sm my-2 my-sm-0" type="submit" style="background:#EB6864;color:#ffffff">Search</button>
    </form>
    <div class="pull-right mx-auto">
    <ul class="navbar-nav mr-auto text-right pull-right">
      <li class="nav-item active">
        <button data-toggle="modal" style="background:#ffffff00;border:0px;margin-top:5px;" data-target="#postForm"><i class="fas fa-plus-circle fa-lg" style="color:#EB6864"></i></button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post/liked"><i class="fas fa-heart fa-lg" style="color:#EB6864"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/<%= user._id %>"><i class="fas fa-user fa-lg" style="color:#EB6864"></i></a>
      </li>
    </ul>
    </div>
  </div>
  </div>
</nav>