<%- include ./partials/header.ejs %> 
<div class="container">
    <h2><%= type %></h2>
    <% if(type=='followers'){ %>
        <table class="table">
            <tbody>
            <% list.forEach(function(follower){ %>
                <tr>
                    <td><a href="/profile/<%= follower.id %>"><%= follower.name %></td>
                    <td><img src="http://localhost:5000/Images/doctor1.jpg" style="width:20px;height:20px;border-radius:50%;border:1px solid #ffffff"></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

</div>