<div class="container">
<div class="row mt-5 p-2" >
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card card-body" style="background:#ffffff44">
      <h1 class="text-center mb-3" style="font-family: 'Satisfy', cursive;">Welcome! Login Here</h1>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            style="background:#ffffff88"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            style="background:#ffffff88"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4" style="font-family: 'Satisfy', cursive;">
        No Account? <a href="/register">Register</a>
      </p>
    </div>
  </div>
</div>
</div>